<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="30 second">
    <!-- Log Pattern 색상 적용 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
        <property name="LOG_PATTERN" value="%date{yyyy-MM-dd HH:mm:ss.SSS} %clr{%-5level} %clr{%{PID:-}} [%thread] [%X{userName}] %class{30}#%method:%line - %msg%n" />
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
</configuration>